* {
    background-color: white;
}
header {
    display: flex;
    justify-content: center;
}
    main {
    display: flex;
    padding: 5px;
    flex-direction: column;

}

    #imgContainer {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: space-evenly;
        padding: 15px;
    }

        form {
            display: flex;
            justify-content: center;
        }
    #showImg {
        border: solid 2px black;
    }

    #buttons {
        display: flex;
        justify-content: space-around;
    }